.room_childlen {
  text-align: center;
  width: 40%;
  border: solid;
  border-color: #ee82ee;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
}

.invite_form {
  display: flex;
  justify-content: center;
}
