.input_space {
    text-align: center;
    width: 40%;
    border: solid;
    border-color: #ee82ee;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .text_input {
    padding: 20px 0px;
  }
  
  .decide_button {
    margin-bottom: 20px;
  }
