.text {
  text-align: center;
}

/* ファイル選択ボタンは非表示 */
.file-upload-input {
  display: none;
}

.file-upload-label {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #4caf50; /* 枠線の追加 */
  transition: background-color 0.3s, border-color 0.3s; /* ホバー時のアニメーション */
}

.file-upload-label:hover {
  background-color: #45a049;
  border-color: #45a049; /* ホバー時に枠線の色を変える */
}

.preview-image {
  width: 100%;
}
